.taskItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 1rem;

    text-align: left;

    background-color: var(--gray-500);
    border-radius: 8px;
}

.taskItem p {
    flex: 1;
}

.deleteButton {
    color: var(--gray-300);
    background: none;
    border: none;
}

.deleteButton:hover {
    color: var(--danger);
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    padding: 0.4rem;
    border: 2px solid var(--blue);
    border-radius: 50%;
}
